@page
@model PasaPhoneWebRazor_Temp.Pages.Phones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="/Phones/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Issues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].MeetupPreference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneList[0].DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PhoneList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetupPreference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
